<header class="header">
    <div class="nav">
        <div class="contact1">
            <li><a href="#">+237 696 841 831</a></li>
            <li><a href="#">Douala-Cameroun Lycée de la cité des palmiers</a></li>
        </div>
        <div class="contact2">
            <li><a href="#"> {{ email }}</a></li>
            <li><a href="#">Mon-Fri 10:00am-09:00pm</a></li>   
        </div>
    </div>
    <nav class="nav-search">
        <div class="logo">
            <img src="assets/logo.svg" alt="Logo" class="logo"  height="50px" width="50px" style="margin-top: 8px;"/>
        </div>
        <div class="nav-search-links">
            <ul>
                <li><a href="#" style="color: #F7A400;">Home</a></li>
                <li>
                    <select name="Insurance Services">
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                    </select>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQs</a></li>
             <li><a href="#" style="color: #F7A400;">Contacts</a></li>
             <img src="assets/iconoir_search.svg" alt="search" class="search" />
             <li>
                <select>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                </select>
             </li>
             <li><button class="login-btn">LOG IN</button></li>
           </ul>
    </div>
    </nav>
  </header>
  