<body>
  <div class="container">
    <div class="logo-container">
      <div class="logo">
        <img src="assets/logo.svg" alt="logo">
      </div>
      <ul class="contact">
        <li><i class="fas fa-phone"></i> +237 696 841 831</li>
        <li><i class="fas fa-envelope"></i><a href="#"> {{ email }}</a></li>
        <li><i class="fas fa-map-marker-alt"></i> Douala-Cameroun Lycée de la cité des palmiers</li>
      </ul>
    </div>
    
    <div class="info">
      <h3>About Us</h3>
      <ul>
        <li><a href="#">Home page</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Tel/Phone</a></li>
        <li><a href="#">Write to us</a></li>
      </ul>
    </div>
    <div class="info">
      <h3>Information</h3>
      <ul>
        <li><a href="#">General terms and <br> conditions of us</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Cookies policy</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
    </div>
    <div class="info">
      <h3>Top Links</h3>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
    <div class="newsletter">
      <h3>Subscribe Newsletter</h3>
      <input type="email" placeholder="Email">
      <button>Email</button>
    </div>
  </div>
  <div class="footer">
    &copy; Copyright | harpie | All Right Reserved
  </div>
</body>