<div class="main">
  <div class="login-container">
    <div class="login-card">
      <h2>Login to your Account</h2>
      <p style="margin-bottom: 2.5rem;">Welcome back! To continue where you left off <br> log in to your account 😀 </p>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <input type="email" placeholder="Email" class="form-control" formControlName="email" name="email" />
        <div *ngIf="submitted && signinForm.controls['email']?.errors?.['required']" style="color: red;">Email is required</div>
        <div *ngIf="submitted && signinForm.controls['email']?.errors?.['email']" style="color: red;">Invalid email</div>
        
        <div class="password-container">
          <input type="password" placeholder="Password" class="form-control" formControlName="password" name="password" minlength="6" />
          <div *ngIf="submitted && signinForm.controls['password']?.errors?.['required']" style="color: red;">Password is required</div>
          <div *ngIf="submitted && signinForm.controls['password']?.errors?.['minlength']" style="color: red;">Password must be at least 6 characters long</div>
          <span (click)="togglePasswordVisibility()" class="eye-icon">
            <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </span>
        </div>
        
        <a href="#" style="text-align: right; color: #3E8BFF; margin-bottom: 0.3rem;">Forgot Password?</a>
        
        <button type="submit" class="sign-in-btn" [disabled]="signinForm.invalid">Sign In</button>
      </form>
      
      <div class="separator" style="color: #000; font-weight: bold;">OR</div>
      <div class="social-buttons">
        <button class="social-btn facebook">
          <i class="fab fa-facebook-f"></i> Sign in with Facebook
        </button>
        <button class="social-btn linkedin">
          <i class="fab fa-linkedin-in"></i> Sign in with LinkedIn
        </button>
      </div>
      <button class="social-btn google">
        <i class="fab fa-google"></i> Sign in with Google
      </button>
      
      <p class="signin-text">You don't have an account yet? <a routerLink="/signup">Sign Up</a></p>
    </div>
  </div>
</div>
