.auth {
    background-color: #fff;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    margin-top: -6rem;
}
.auth * {
    font-family: "Outfit", sans-serif;
}


.auth_heading_thing {
    text-align: center;
}
.auth_heading_thing h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-block: 1rem;
}
.auth_card_wrapper {
    width: 100%;
    max-width: 670px;
    padding: 2rem 1.2rem;
    border-radius: 5px;
    background-color: #fff;
    height: auto;
}

.auth_card_wrapper .auth_form_input {
    width: 100%;
    margin: 1rem 0;
    background-color: #d7daff;
    border-radius: 4px;
    position: relative;
    height: 2.8rem;
}
.auth_form_input button,
.auth_form_input input {
    width: 100%;
    padding: 0.9rem;
    background-color: transparent;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}


.auth_form_input button {
    color: #fff;
    font-family: Outfit, sans-serif;
    font-size: var(--fs-st);
    font-weight: 500;
}

.auth_form_input_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.5rem;
}
.auth_form_input_flex .auth_form_input {
    width: 48%;
}

.auth_or {
    text-align: center;
    margin-block: 1rem;
}

.auth_form_input.btn {
    background-color: var(--secondary-color);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.auth_form_input.btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color-hover);
}
.auth_form_input.btn input {
    font-weight: 600;
    color: #fff;
}
.auth_form_input.social_auth_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
}

.auth_form_input.loading {
    justify-content: center;
    display: flex;
    align-items: center;
}


.auth_account_status {
    text-align: center;
    font-size: var(--fs-st);
    margin-top: 2rem;
}

.auth_account_status a {
    font-size: var(--fs-st);
    color: rgb(41, 134, 255);
}
.social_auth_btn span{
    display: block;
    height: 100%;
    width: 3rem;
}
.social_auth_btn span svg {
    width: 100%;
    height: 100%;
}
.facebook_button span,
.linkedin_button span {
    padding-block: 0.5rem;
}
.linkedin_button {
    background-color: #1B80E4 !important;
    color: #fff;
}
.linkedin_button span svg path {
    color: #fff;
    fill: #fff !important;
}

.forgot_password {
    text-align: right;
    margin-top: 1rem;
    font-family: Outfit;
}
.auth_form_input.logout{
    background-color: #f500565d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.auth_form_input.logout p {
    color: #ff0057;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.google_btn_wrapper * {
    font-family: Outfit !important;
    background-color: #d7daff !important;
    border: none !important;
    border-radius: 4px;
}

.phone_number {
    display: flex;
    justify-content: space-between;
}
.phone_number .country_code {
    width: 30%;
    max-width: 60px;    
    margin-right: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone_number .country_code span {
    color: #5555559a;
    font-weight: 500;
}


.reset_password_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1.5rem;
    font-size: 5rem;
    color: var(--secondary-color);
}
@media(min-width: 50rem){
    .auth_card_wrapper {
        width: 560px;
        padding-inline: 3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .auth {
        background-color: #d7daff;
    }
    .reset_password_icon {
        font-size: 8rem;
    }
}

@media(max-width: 50rem){
    .auth_form_input_flex.o_auth {
        display: block;
        margin-bottom: 1rem;
    }
    .auth_form_input_flex.o_auth .auth_form_input {
        width: 100%;
    }
}