.section-navigation {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
}

.section-navigation .navigation > button {
  max-width: 170px;
}


.section-navigation li:hover {
  background-color: #e0e0e0;
}

.section-navigation li.active {
  background-color: #007bff;
  color: white;
}

.section-navigation_dd_btn {
  background-color: rgba(81, 81, 81, 0.541) !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
  border-radius: 10px;
}

.section-navigation_dd_btn span {
  text-align: left;
}

.section-navigation-dd_list div {
  padding: 0.3rem 1rem;
  color: #0009;
  transition: all .3s ease-in-out;
}

.section-navigation-dd_list div:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

@media(max-width: 60rem) {
  .section-navigation {
    max-width: none;
  }
  .question-section {
    padding: 1rem;
  }
  .searchable-list {
    max-width: none !important;
  }
  .insurance-questions {
    min-height: 25rem;
  }
  .insurance_cards {
    width: 100%;
}
}