.create-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #C1BFFE;
}

.create-password-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  margin-top: 64.5%;
  margin-bottom: 70%;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
}

p {
  margin-bottom: 3rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.password-input {
  position: relative;
}

input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid rgba(190, 192, 248, 0.3); /* 30% opacity */;
  background-color: rgba(190, 192, 248, 0.3); /* 30% opacity */;
}

input::placeholder {
  color: #000000; /* Set placeholder text color to red */  
}

.eye-icon {
  cursor: pointer;
  position: absolute; /* Adjust position as needed */
  top: 27px;
  right: 20px;
  color: #718096;
  transform: translateY(-50%); /* Center adjustment */
}

.change-password-btn {
  background-color: #F8BD00;
  border: none;
  margin-top: 15px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 28px;
}