<div class="create-password-container">
  <div class="create-password-card">
    <h2>Create new Password</h2>
    <p>Once you confirm your new password, your password <br> will be changed permanently</p>
    <form #changepassForm="ngForm" (ngSubmit)="onSubmit(changepassForm)">
      <div class="password-input">
        <input type="password" placeholder="New password" minlength="6"  />
        <div *ngIf="changepassForm.submitted && changepassForm.controls['password']?.invalid" class="invalid-feedback">
          <div *ngIf="changepassForm.controls['password']?.errors?.['required']">Password is required</div>
          <div *ngIf="changepassForm.controls['password']?.errors?.['minlength']">Password must be at least 6 characters long</div>
        </div>
        <span (click)="togglePasswordVisibility()" class="eye-icon">
          <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>
      <div class="password-input">
        <input type="password" placeholder="Confirm new password" minlength="6"  />
        <div *ngIf="changepassForm.submitted && changepassForm.controls['password']?.invalid" class="invalid-feedback">
          <div *ngIf="changepassForm.controls['password']?.errors?.['required']">Password is required</div>
          <div *ngIf="changepassForm.controls['password']?.errors?.['minlength']">Password must be at least 6 characters long</div>
        </div>
        <span (click)="togglePasswordVisibility()" class="eye-icon">
          <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>
      <button type="submit" class="change-password-btn">Change Password</button>
    </form>
</div>
</div>
