<div class="create-password-container">
  <div class="create-password-card">
    <h2>Create new Password</h2>
    <p>Once you confirm your new password, your password <br> will be changed permanently</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="password-input">
        <input type="password" placeholder="New Password" formControlName="newPassword" required />
    <div *ngIf="submitted && resetPasswordForm.controls['newPassword'].errors?.['required']" style="color: red;">
      This field is required.
    </div>
    <div *ngIf="submitted && resetPasswordForm.controls['newPassword'].errors?.['minlength']" style="color: red;">
      Password must be at least 6 characters long.
    </div>
        <span (click)="togglePasswordVisibility()" class="eye-icon">
          <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>
      <div class="password-input">
        <input type="password" placeholder="Confirm New Password" formControlName="confirmPassword" required />
    <div *ngIf="submitted && resetPasswordForm.controls['confirmPassword'].errors?.['required']" style="color: red;">
      This field is required.
    </div>
    <div *ngIf="submitted && resetPasswordForm.errors?.['mismatch']" style="color: red;">
      Passwords must match.
    </div>
        <span (click)="togglePasswordVisibility()" class="eye-icon">
          <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
      </div>
      <button type="submit" class="change-password-btn">Change Password</button>
    </form>
    <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
  
</div>
</div>
