

.contact_us_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    flex-direction: column;
}

.contact_us_flex * {
    font-family: Outfit;
}
.contact_us_left h1 {
    font-size: var(--fs-lg);
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.contact_us_contact_method {
    display: flex;
    margin-bottom: 10px;
}

.contact_us_contact_method svg {
    font-size: calc(var(--fs-md) + 0.2rem);
    color: var(--secondary-color);
    color: var(--secondary-color);
}

.contact_us_contact_method a {
    color: var(--secondary-color);
    font-size: calc(var(--fs-md) + 0.1rem);
    margin-left: 10px;
}

.contact_us_contact_form {
    width: 100%;
    margin-left: 2rem;
    padding-block: 2rem;
}

.contact_us_contact_form button,
.contact_us_contact_form textarea,
.contact_us_contact_form input {
    width: calc(100% - 2rem);
    display: block;
    padding: 0.8rem 1rem;
    border: 1px solid var(--secondary-color);
    outline: none;
    margin-bottom: 1rem;
    font-family: Outfit, sans-serif;
    resize: none;
}

.contact_us_contact_form textarea {
    height: 8rem;
}
.contact_us_contact_form button {
    color: #fff;
    font-size: 0.9rem;
    background-color: var(--secondary-color);
}

.contact_us_contact_form h2 {
    margin-block: 1rem;
    font-weight: bold;
}
@media(min-width: 60rem){

.contact_us_flex {
    flex-direction: row;
}
    .contact_us_contact_form {
        margin-left: 0px;
        text-align: center;
        padding-inline: 3rem;
        padding-right: 1rem;
        background-color: #fff;
        transform: translate(10%, 10%);
        z-index: 2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    }
}

.send_message_status {
    font-size: 0.9rem;
    margin-right: 2rem;
}
.send_message_status.sucess {
    color: var(--green);
}
.send_message_status.failed {
    color: var(--red);
}