<div class="main">
  <div class="container">
    <div class="form-card">
      <h2>Create an Account</h2>
      <p style="margin-bottom: 1.8rem;">Join the fastest growing insurance manager <br> in Cameroon 🇨🇲</p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input 
            type="text" 
            placeholder="First Name" 
            class="form-control"  
            formControlName="first_name" 
            name="firstName" 
            required 
          />
          <div *ngIf="signupForm.controls['first_name']?.errors?.['required'] && submitted" style="color: red;">First Name is required</div>
          
          <input 
            type="text" 
            placeholder="Last Name" 
            class="form-control"  
            formControlName="last_name"
            name="lastName" 
            required 
          />
          <div *ngIf="signupForm.controls['last_name']?.errors?.['required'] && submitted" style="color: red;">Last Name is required</div>  

          <input 
            type="text" 
            placeholder="Ip address" 
            class="form-control"  
            formControlName="ip_address"
            name="ip_address" 
            required 
          />
          <div *ngIf="signupForm.controls['ip_address']?.errors?.['required'] && submitted" style="color: red;">ip_address is required</div>  

        </div>

        <div class="form-group">
          <input 
            type="email" 
            placeholder="Email"  
            class="form-control"  
            formControlName="email"
            name="email" 
            required 
          />
          <div *ngIf="signupForm.controls['email']?.errors?.['required'] && submitted" style="color: red;">Email is required</div>
          <div *ngIf="signupForm.controls['email']?.errors?.['email'] && submitted" style="color: red;">Email must be a valid email address</div>
        </div>

        <div class="form-group">
          <input 
            type="tel" 
            placeholder="Phone"  
            class="form-control"  
            formControlName="phone_one" 
            name="phone" 
            required 
          />
          <div *ngIf="signupForm.controls['phone_one']?.errors?.['required'] && submitted" style="color: red;">Phone Number is required</div>
        </div>

        <div class="form-group">
          <input 
            [type]="isPasswordVisible ? 'text' : 'password'" 
            placeholder="Password"  
            class="form-control"  
            formControlName="password"
            name="password" 
            minlength="6" 
            required 
          />
          <div *ngIf="signupForm.controls['password']?.errors?.['required'] && submitted" style="color: red;">Password is required</div>
          <div *ngIf="signupForm.controls['password']?.errors?.['minlength'] && submitted" style="color: red;">Password must be at least 6 characters long</div>
          <span (click)="togglePasswordVisibility()" class="eye-icon">
            <i [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </span>
        </div>

        <button type="submit" class="signup-btn">Sign Up</button>

      </form>

      <div class="separator" style="color: #000; font-weight: bold;">OR</div>
      <div class="social-buttons">
        <button class="social-btn facebook"id="facebook-btn">
          <i class="fab fa-facebook-f"></i> Sign in with Facebook
        </button>
        <button class="social-btn linkedin" id="linkedin-btn">
          <i class="fab fa-linkedin-in"></i> Sign in with LinkedIn
        </button>
      </div>
      <button class="social-btn google" id="google-btn" >
        <i class="fab fa-google"></i> Sign in with Google
      </button>
      <p class="signup-text" style="margin-top: 35px;">Already have an account? <a routerLink="/signin">Sign In</a></p>
    </div>
  </div>
</div>
