<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Forgot your Password?</h2>
    <p>No worries, simply enter your email or phone number <br> below. We'll help you recover it.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Email or Phone" formControlName="email" required />
      <div *ngIf="submitted && forgotPasswordForm.controls['email'].errors?.['required']" style="color: red;">
        This field is required.
      </div>
      <button type="submit" class="request-password-btn">Request Password</button>
    </form>
    <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

    <p class="back-to-login-text">You want another try? <a routerLink="/signin">Back to login</a></p>
</div>
</div>