.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #C1BFFE;
}

.forgot-password-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  margin-top: 62%;
  margin-bottom: 70%;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #000000;
}

p {
  margin-bottom: 1rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(190, 192, 248, 0.3); /* 30% opacity */;
  background-color: rgba(190, 192, 248, 0.3); /* 30% opacity */;
  margin-top: 25px;
}

input::placeholder {
  color: #000000; /* Set placeholder text color to red */  
}

.request-password-btn {
  background-color: #F8BD00;
  margin-top: 15px;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #ffff;
}

.back-to-login-text {
  margin-top: 4rem;
  font-size: 1rem;
}

a {
  color: #3E8BFF;
  text-decoration:none;
}